.hrefs:focus{
  color: deeppink;
}

.hreffs:focus {
  color: cyan;
}

.hrefffs:focus {
  color: gold;
}

.hreffffs:link {
  background-color: black;
}

.hrefffffs:visited {
  color: cyan;
}

.hreffffs:visited {
  background-color: lime;
}

.hrefffffs:active {
  background-color: black;
}

.lesson-container:hover {
  color: red;
}

.item:nth-child(3n) {
  color: blueviolet;
}

.item:nth-child(-n+5) {
  background-color: gold;
}

.item:nth-child(odd) {
  font-size: 20px;
}

.item:nth-child(even) {
  background-color: aqua;
}

.item:last-child {
  background-color: gray;
}