h3 {
    color: pink;
}
.text-box p:first-of-type {
    color: inherit;
}
#greycol {
    color: grey;
}
.text-box div:first-of-type {
    color: inherit;
}
.text-box div:last-of-type p {
    color: red;
}
h3:last-of-type {
    color: inherit;
}
h3 ~ p {
    color: green;
}
.yellow {
    color: yellow;
}